# === .NET Core ===
bin/
obj/
*.user
*.suo
*.vs/
*.vscode/
*.db
*.log

# === Angular ===
node_modules/
dist/
out-tsc/
.npm/
package-lock.json

# === General ===
.env
*.tmp
*.cache
.DS_Store
Thumbs.db

